@model CoffeShop.Models.User;

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="detailModalLabel">Detail User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="Nama">Nama</label>
        <input type="text" class="form-control" value="@Model.Nama" readonly>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" value="@Model.Email" readonly>
    </div>
    <div class="form-group">
        <label for="Role">Role</label>
        <input type="text" class="form-control" value="@Model.Role" readonly>
    </div>
    <div class="form-group">
        <label for="Tanggal_Lahir">Tanggal Lahir</label>
        <input type="text" class="form-control" value="@Model.TglLahir" readonly>
    </div>
    <div class="form-group">
        <label for="Alamat">Alamat</label>
        <textarea name="" class="form-control" id="" readonly>@Model.Alamat</textarea>
    </div>
</div>